#mapid {
height: 350px;
width:70%;
margin-left: auto;
margin-right: auto;}

h1{
  text-align: center;
}
.block-cont{
display: flex;
width:80%;
margin-left: 15%;
}
.date{
  display: flex;
  width:70%;
  margin-left: 15%;
}
.numbers{
width:200px;
margin-top: 70px;
margin-right: 10%;
}
.chart_c{
  width: 70%;
  height: 1px;
}
.chart{
  width: 1px;
  height: 1px;
}
.all_chart{
  width:70%;
}
.blocks{
  display:none;
  width:80%;
  margin-left: auto;
  margin-right: auto;}
.glow-button {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 20px;
  width:100%;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
  text-align: center;
}
.glow-button:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: #F137A6;
}
