{%extends 'main.html'%}
{%block body%}

<!-- <link rel="stylesheet" href="C:\Users\i.gusev\cam\templates\css\style.css" type="text/css"/> -->
<h1>{{file}}</h1>

<div id="mapid"></div>

<div class="blocks" id="1" >
  <h1 >Новая-Циолковского</h1>
  <div class="block-cont">
  <div class="numbers" id='legend'></div>

  <div class="all_chart">
    <div class="date">
    <a id = 'day' href="#" class='glow-button' onclick="day()">day</a>
    <a id = 'week' href="#" class='glow-button' onclick="week()">week</a>
    <a id = 'month' href="#" class='glow-button' onclick="month()">month</a>
    </div>
    <div class="chart_c">


    <canvas id="chart"  width="600" height="400"></canvas>
    </div>
  </div>
  </div>
</div>

<div class="blocks" id="2">
  <h1>Солотчинский мост</h1>
  <p>{{points[0][0]}}</p>
</div>

<div class="blocks" id="3">
  <h1>Московский-Барс</h1>
</div>

<div class="blocks" id="4">
  <h1 >Площадь Ленина</h1>
</div>

<div class="blocks" id="5">
  <h1>ул. Соборная</h1>
  <div class="block-cont">


  </div>
  <figure class="highcharts-figure">
    <div id="sobornaya_container"></div>
</figure>
</div>


<div class="blocks" id="6">
  <h1 id="6">Соборная-Ленина</h1>
</div>

<div class="blocks" id="7">
  <h1>Первомайская-Дзержинского</h1>
</div>

<div class="blocks" id="8">
  <h1>Первомайский проспект</h1>
</div>

<div class="blocks" id="9">
  <h1>Каширина-Солнечная</h1>
</div>

<div class="blocks" id="10">
  <h1>пл. Театральная</h1>
  <div class="block-cont">


  </div>
  <figure class="highcharts-figure">
    <div id="teatralnaya_container"></div>
</figure>
</div>


<div class="blocks" id="11">
  <h1>ул. Свободы</h1>

</div>

<div class="blocks" id="12">
  <h1>ул. Почтовая</h1>
</div>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script type="text/javascript">
// var numbers = document.querySelector('.numbers')
// var arr = "{{novaya.names}}".split(',')
// for (var i = 0; i < {{novaya.len}}; i++) {
//   var el = document.createElement('a')
//
//   el.className = 'glow-button'
//   el.href = '#'
//   el.innerHTML = arr[i]
//   el.onclick = fun(arr[i])
//   numbers.appendChild(el)
// }
// var name = ''
// function fun(name1){
//   name = name1
// }

</script>
<script>
  const getOrCreateLegendList = (chart, id) => {
    const legendContainer = document.getElementById(id);
    let listContainer = legendContainer.querySelector('ul');

    if (!listContainer) {
      listContainer = document.createElement('ul');
      listContainer.style.display = 'flex';
      listContainer.style.flexDirection = 'column';
      listContainer.style.margin = 0;
      listContainer.style.padding = 0;

      legendContainer.appendChild(listContainer);
    }

    return listContainer;
  };
  var t = true;
  const htmlLegendPlugin = {
    id: 'htmlLegend',
    afterUpdate(chart, args, options) {
      const ul = getOrCreateLegendList(chart, options.containerID);

      // Remove old legend items
      while (ul.firstChild) {
        ul.firstChild.remove();
      }

      // Reuse the built-in legendItems generator
      const items = chart.options.plugins.legend.labels.generateLabels(chart);

      items.forEach(item => {

        const li = document.createElement('li');
        li.style.alignItems = 'center';
        li.style.cursor = 'pointer';
        li.style.display = 'flex';
        li.style.flexDirection = 'row';
        li.style.marginLeft = '10px';
        if (item.text == 'All') {
          li.onclick = function(){
            t=!t;
              for (var i = 0; i < {{novaya.len}}+1; i++) {
                chart.setDatasetVisibility(i, t);
            }
            chart.update();
          }
        }else{
        li.onclick = () => {
          const {type} = chart.config;
          if (type === 'pie' || type === 'doughnut') {
            // Pie and doughnut charts only have a single dataset and visibility is per item
            chart.toggleDataVisibility(item.index);
          } else {
            chart.setDatasetVisibility(item.datasetIndex, !chart.isDatasetVisible(item.datasetIndex));
          }
          chart.update();
        }};

        // Color box
        const boxSpan = document.createElement('span');
        boxSpan.style.background = item.fillStyle;
        boxSpan.style.borderColor = item.strokeStyle;
        boxSpan.style.borderWidth = item.lineWidth + 'px';
        boxSpan.style.display = 'inline-block';
        boxSpan.style.height = '30px';
        boxSpan.style.marginRight = '10px';
        boxSpan.style.width = '40px';

        // Text
        const textContainer = document.createElement('p');
        textContainer.style.color = item.fontColor;
        textContainer.style.font.size='100%';
        textContainer.style.margin = 0;
        textContainer.style.padding = 0;
        textContainer.style.textDecoration = item.hidden ? 'line-through' : '';

        const text = document.createTextNode(item.text);
        textContainer.appendChild(text);

        li.appendChild(boxSpan);
        li.appendChild(textContainer);
        ul.appendChild(li);
      });
    }
  };
var ctx = document.getElementById('chart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [],
        datasets: []
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        layout: {

        },
        plugins: {
      htmlLegend: {
        // ID of the container to put the legend in
        containerID: 'legend',
      },
      legend: {
        display: false,
      }
    }
  },
  plugins: [htmlLegendPlugin],
});


</script>
<script type="text/javascript">
  COLORS = [
    '#4dc9f6',
    '#f67019',
    '#f53794',
    '#537bc4',
    '#acc236',
    '#166a8f',
    '#00a950',
    '#58595b',
    '#8549ba'
  ];
  function addLabels(chart,labels){
    chart.data.labels=labels;
    chart.update();
  }

  function addData(chart,label, data, color,back,) {
    // var labels=[];
    // for (var i = 0; i < num; i++) {
    // labels.push(i);
    var dataset={
      label:label,
      data:data,
      // fill: false,
      borderColor:color,
      backgroundColor:back
    }
    chart.data.datasets.push(dataset);
    chart.options.interaction.axis = 'xy';
    chart.options.interaction.mode = 'nearest';
    chart.options.plugins.legend.position = 'left';
    // chart.options.plugins.legend.align = 'start';
    // chart.options.plugins.legend.title.position = 'start';
    chart.update();
}
function addAll(chart,len,names,data){
  for (var i = 0; i < len; i++) {

      addData(chart,names[i],data[i],COLORS[i],COLORS[i])
  }
}
// addData(myChart,'All',[],'#00f','#00f')
// addLabels(myChart,{{novaya.labels}})
// addAll(myChart,{{novaya.len}},{{novaya.names1|safe}},{{novaya.data1|safe}})
function removeData(chart) {
    chart.data.labels=[];
    chart.data.datasets = []
    chart.update();
}
function day(){
  document.getElementById("day").style.color = "blue";
  document.getElementById("week").style.color = "white";
  document.getElementById("month").style.color = "white";
  removeData(myChart);
  addData(myChart,'All',[],'#00f','#00f')
  addLabels(myChart,{{novaya.labels}})
  addAll(myChart,{{novaya.len}},{{novaya.names1|safe}},{{novaya.data1|safe}})
}
function week(){
  document.getElementById("day").style.color = "white";
  document.getElementById("week").style.color = "blue";
  document.getElementById("month").style.color = "white";
  removeData(myChart);
  addData(myChart,'All',[],'#00f','#00f')
  addLabels(myChart,{{novaya.labels_month[:7]|safe}})
  addAll(myChart,{{novaya.len}},{{novaya.names1|safe}},{{novaya.sum_all|safe}})
}
function month(){
  document.getElementById("day").style.color = "white";
  document.getElementById("week").style.color = "white";
  document.getElementById("month").style.color = "blue";
  removeData(myChart);
  addData(myChart,'All',[],'#00f','#00f')
  addLabels(myChart,{{novaya.labels_month|safe}})
  addAll(myChart,{{novaya.len}},{{novaya.names1|safe}},{{novaya.sum_all|safe}})
}





</script>
{%endblock%}
